.Loading {
    font-size: 0.9rem;
    animation: pulse 1s infinite;
    display: inline-block;
}
  
  @keyframes pulse {
    0% { opacity: 0.4; }
    50% { opacity: 1; }
    100% { opacity: 0.4; }
}
  