.Botao{
    background: var(--verde);
    border: 1px solid var(--preto);
    padding: 0.25rem 0.75rem;
    color: var(--cinza);
    cursor: pointer;
}

.Botao[type="primario"] {
    background: var(--verde);
}

.Botao[type="secundario"] {
    background: var(--rosa);
}